[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"

[dev-packages]
wheel = "*"
build = "*"
setuptools = "*"
numpy = "*"

[requires]
python_version = ">=3.10"
python_full_version = "3.12.7"
